#background-svg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el SVG detrás de otros elementos */
}

.svg-background {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  overflow: hidden;
}

.svg-background svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
