<div class="overlay h-[250px] bg-orange">
    <div class="main-header">
        {{ 'welcome' | translate }}<br>
        Natalia
    </div>
</div>
<div class="container">
    <div class="inner-container">
        <div class="row d-flex items-center justify-content-center">
            <div class="col-md-6">
                <div class="card home-card card-shadow sound">
                    <div class="card-body">
                        <img class="card-img-top" src="../../../assets/images/sound.png">
                    </div>
                    <p>Record</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card home-card card-shadow">
                    <div class="card-body">
                        <img class="card-img-top" src="../../../assets/images/capture.png">
                    </div>
                    <p>Capture</p>
                </div>
            </div>
        </div>
        <div class="row d-flex items-center justify-content-center">
            <div class="col-md-6">
                <div class="card home-card shadow">
                    <div class="card-body">
                        <img class="card-img-top" src="../../../assets/images/document.png">
                    </div>
                    <p>Document</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card home-card shadow">
                    <div class="card-body">
                        <img class="card-img-top" src="../../../assets/images/import.png">
                    </div>
                    <p>Import</p>
                </div>
            </div>
        </div>
    </div>
</div>