.sidebar-opener {
    cursor: pointer;
}

.sidebar-slider {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(177, 160, 153, 0.7); /* Cambia el último valor para ajustar la transparencia */
    transform: translateX(100%);
    transition: ease-in-out 300ms transform;
    width: 200px;
    z-index: 99;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
    color: white;
    font-size: 16px;
    padding: 30px;
    height: 100%;
    padding-top: 60px;
}

.sidebar-opener {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(114, 114, 114);
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    margin-right: 5px;
}

.sidebar-content ul li {
    margin-bottom: 10px;
}

/* Estilos para el botón de logout */
.logout-button {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los cambios de color */
  }
  
  .logout-button:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón por encima */
    color: #000; /* Cambia el color del texto al pasar el ratón por encima */
  }
  ol, ul {
    padding-left: 0px !important;
  }

.ant-drawer-right > .ant-drawer-content-wrapper {
    width: 250px !important;
}